@import './base.css';

#app {
  margin: 0;
  padding: 0.5rem;
  font-weight: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}
